.contact {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
}
.contact__container {
  border: 1px solid black;
}
.contact__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 10px;
}
