.navbar {
  display: flex;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr; */
  align-items: center;
  width: 100vw;
  height: max-content;
  background-color: #008080;
  top: 0%;
  position: -webkit-sticky;
  position: sticky !important;
  justify-content: space-between;
}
.nav__number {
  display: flex;
  margin-left: 70px;
  animation: colors 2s infinite;
}
@keyframes colors {
  0% {
    color: rgb(183, 238, 165);
  }
  25% {
    color: rgb(223, 226, 43);
  }
  50% {
    color: cyan;
  }
  75% {
    color: rgb(177, 174, 245);
  }
  100% {
    color: rgb(150, 245, 141);
  }
}
.nav__number:hover {
  animation: white;
  cursor: cell;
  color: aliceblue;
}
.nav__number > span:hover {
  border-bottom: 1px solid #fff;
}

.nav__items {
  display: flex;
  width: 70%;
  list-style: none;
  justify-content: space-around;
  color: aliceblue;
  font-size: 20px;
  font-weight: 520;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  /* margin-left: 30%; */
  flex-wrap: nowrap;
}

.nav__item {
  cursor: pointer;
  border: none;
  min-height: 27px;
}
.nav__item:hover {
  border-bottom: 3px solid rgb(248, 247, 248);
  width: max-content;
}
.nav__item-btn {
  border: none;
  color: rgb(202, 197, 192);
}

.nav__item-btn > button {
  border: none;
  color: rgb(19, 18, 18);
  background-color: inherit;
  font-size: 17px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid rgb(168, 168, 168);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    height: 40px;
  }
  .nav__items {
    display: none;
  }
}
