.consult__container {
  text-align: center;
  margin-top: 40px;
}
.consult__msg {
  font-size: 30px;
  color: rgb(226, 10, 10);
  font-weight: 600;
  background-color: rgb(207, 205, 205);
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
}
.consult__msg > a {
  color: rgb(226, 10, 10);
}
.consult__inp > input {
  outline: none;
  border: none;
  height: 40px;
  background-color: #ffcd9f;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
.consult {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.consult__card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(209, 197, 181, 0.4);
  box-shadow: -1px 3px 10px 0px gray;
  transition: all 0.5s ease;
}
.consult__card:hover {
  box-shadow: -1px -1px 15px 5px gray;
  box-shadow: none;
}
.consult__items {
  display: grid;
  /* grid-template-columns: 1.3fr 4.5fr; */
  place-items: center;
}
.consult__img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ffcd9f;
}
.consult__img > img {
  width: 100%;
  height: 100%;
}
.consult__detail {
  margin-top: 15px;
}
.consult__detail > div {
  cursor: context-menu;
  display: flex;
  /* grid-template-columns: 1fr 3fr; */
  flex-direction: row;
  margin-bottom: 10px;
}
.consult__detail > div > span {
  color: #575151;
  font-weight: 500;
  font-size: 15px;
  width: 100px;
}
.consult__detail > div > small {
  padding-bottom: 0px;
  align-items: center;
}
.consult__btn {
  text-align: center;
  margin-top: 24px;
}
.consult__btn > button {
  background-color: rgba(0, 128, 128, 0.9);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  width: 80%;
}

@media only screen and (max-width: 1500px) {
  .consult {
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .consult {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
